<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div id="engineer" class="card float-left m-4" style="width: 18rem;">
        <div class="card-body bg-primary text-white">
          <h5 class="card-title">${Engineer.name}</h5>
          <p class="card-text"><span><i class="fab fa-github p-2"></i></span>Intern</p>
        </div>
        <ul class="list-group list-group-flush p-4">
          <li class="list-group-item">ID: ${Engineer.id}</li>
          <li class="list-group-item">Email: ${Engineer.email}</li>
          <li class="list-group-item">GitHub User ID: ${Intern.github}</li>
        </ul>
        </div>
      </div>
    
</body>
</html>