<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./assets/style/reset.css"> -->
    <link rel="stylesheet" href="../assets/style/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <script src="./assets/scripts/jquery-3.4.1.min.js"></script>
    <script src="./assets/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./assets/style/style.css">
    <script src="./assets/scripts/script.js"></script>
</head>

<body>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body bg-primary text-white">
          <h5 class="card-title">${Employee Name}</h5>
          <p class="card-text"><span><i class="fas fa-mug-hot"></i></span>${Employee Role}</p>
        </div>
        <ul class="list-group list-group-flush p-4">
          <li class="list-group-item">ID: ${id}</li>
          <li class="list-group-item">Email: ${email}</li>
          <li class="list-group-item">Office Number: ${officeNumber}</li>
        </ul>
        </div>
      </div>
</body>

</html>